body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fdfd96; /* Pastel yellow background */

}

#clickMeButton {
  background-color: #f8c6d1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.hidden {
  display: none;
}

#sideBySide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flowers, #hearts, #birthdayImage {
  margin: 10px;
  max-width: 100%;
  height: auto;
}

#birthdayImage {
  display: block;
}
